{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Edit Buku</title>
  <link rel="stylesheet" href="{% static 'halaman/style.css' %}">
</head>
<body>
  <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
  <div class="sidebar hide" id="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><a href="{% url 'home' %}">🏠 Beranda</a></li>
      <li><a href="{% url 'tambah' %}">✍️ Tambah Komentar</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'tambah_buku' %}">➕ Tambah Buku</a></li>
      <li><a href="{% url 'logout' %}" onclick="return confirm('Yakin mau logout?')">🔒 Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">🔑 Login</a></li>
      {% endif %}
    </ul>
  </div>
    <div class="container" id="main">
      <h1>{{ buku.judul }}</h1>
      <form method="post">
        {% csrf_token %}<break>
        {{ buku_form.as_p }}
        <h3>Edit Halaman</h3>
        {{ formset.management_form }}
        {% for form in formset %}
          <div style="margin-bottom:10px;">
            {{ form.as_p }}
            {% if form.instance.pk %}
              <label>Hapus: {{ form.DELETE }}</label>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit">Simpan Perubahan</button>
        <hr>
        <h3 class="text-danger">Hapus Buku</h3>
        <p>Jika kamu menghapus buku ini, semua halaman juga akan terhapus. Tindakan ini tidak bisa dibatalkan.</p>

        <form method="post" onsubmit="return confirm('Yakin ingin menghapus buku ini?')">
        {% csrf_token %}
        <button type="submit" name="hapus_buku" class="btn btn-danger">🗑️ Hapus Buku</button>
      </form>
    </div>
<script>console.log("JS dimuat");</script>
<script src="{% static 'main.js' %}"></script>
</body>
</html>