{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Edit Buku</title>
  <link rel="stylesheet" href="{% static 'halaman/style.css' %}">
</head>
<body>
  <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
  <div class="sidebar hide" id="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><a href="{% url 'home' %}">🏠 Beranda</a></li>
      <li><a href="{% url 'tambah' %}">✍️ Tambah Komentar</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'tambah_buku' %}">➕ Tambah Buku</a></li>
      <li><a href="{% url 'logout' %}" onclick="return confirm('Yakin mau logout?')">🔒 Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">🔑 Login</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="container" id="main">
    <h2>📝 Edit Buku: {{ buku.judul }}</h2>

    <form method="POST">
      {% csrf_token %}
      <break>
      {{ form.as_p }}
      <button type="submit">Simpan Perubahan</button>
    </form>

    <a href="{% url 'daftar_buku' %}">← Kembali ke Daftar Buku</a>
  </div>
<script>console.log("JS dimuat");</script>
<script src="{% static 'halaman/main.js' %}"></script>
</body>
</html>