{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Artikel</title>
    <link rel="stylesheet" href="{% static 'halaman/style.css' %}">
</head>
<body>
   <button class="toggle-btn" onclick="toggleSidebar()">☰</button>

  <div class="sidebar hide" id="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><a href="{% url 'home' %}">🏠 Beranda</a></li>
      <li><a href="{% url 'tambah' %}">✍️ Tambah Komentar</a></li>
      {% if user.is_authenticated %}
       <li><a href="{% url 'tambah_buku' %}">➕ Tambah Buku</a></li>
       <li><a href="{% url 'logout' %}" onclick="return confirm('Yakin mau logout?')">🔒 Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">🔑 Login</a></li>
      {% endif %}
    </ul>
  </div>
<div class="main-content" id="main">     
    <div class="container"> 
        <h1>Edit: {{ artikel.judul }}</h1>
        <form method="POST">
            {% csrf_token %}
            <break>
            {{ form.as_p }}
             <a href="/">← Kembali</a>
            <button type="submit">Simpan Perubahan</button>
        </form>
        
    </div>
</div>
<script>console.log("JS dimuat");</script>
<script src="{% static 'main.js' %}"></script>
</body>
</html>